<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
  <body>

  <% include ../static/partials/navbar.ejs %>

      <main class="container">

      <% include ../static/partials/messages.ejs %>
      <hr>
      <h4>Collaborators</h4>
      <hr>
      <ul class="list-group">
      <% if(currentUser) { %>
      <%  if(collaborators) { %>
          <% collaborators.forEach((collaborator) => { %>
              <li class="list-group-item">
                <a href="/wikis/<%= collaborator.wikiId %>/collaborators/<%= collaborator.id %>"> <%= collaborator.email %> </a>
              </li>
           <% }); %>
      <%  } else { %>
        <h6>You have not added any collaborator for this wiki yet!</h6>
       <% } %>
    <% } %>
      </ul>

      <a href="/wikis/<%= wikiId %>/collaborators/new">Add Collaborators</a>
      </main>

   <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
