<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
  <body>

  <% include ../static/partials/navbar.ejs %>

      <main class="container">

      <% include ../static/partials/messages.ejs %>
      <hr>
      <h4>Collaborators</h4>
      <hr>


      <% if(currentUser) { %>
      <%  if(wiki.collaborators) { %>
        <ul class="list-group">
          <% wiki.collaborators.forEach((collaborator) => { %>
            <li class="list-group-item">
              <%= collaborator.User.email %>
            </li>
           <% }); %>
         </ul>
      <%  } else { %>
        <h6>You have not added any collaborator for this wiki yet!</h6>
       <% } %>
    <% } %>

      </main>

   <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
