<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
  <body>

  <% include ./partials/navbar.ejs %>


      <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h4>Collaborator with the email: <%= collaborator.email %> now has the permission to edit your private wiki! </h4>
      <form action="/wikis/<%= collaborator.wikiId %>/collaborators/<%= collaborator.id%>/destroy" method="POST">
        <div class="form-group">
          <label for="title">Collaborator email</label>
          <input type="email" class="form-control" name="email" aria-describedby="titleHelp" placeholder="Enter Collaborator's Email">
          <button type="submit" class="btn btn-primary">Remove Collaborator</button>
        </div>
      </form>
      </main>

   <% include ./partials/baseScripts.ejs %>
    </body>
</html>
