<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
  <body>

      <!-- Navigation -->
  <% include ./partials/navbar.ejs %>
      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">An application for users to share wikis.</p>
        </header>


        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-6">
            <img src="/../images/ideas-Social-Collaboration.jpg" alt="Image on ideas">
          </section>

          <section class="col-lg-6">
            <div style="margin-top:6rem;">
              <h4 class="card-title">Create Wikis</h4>
              <p class="card-text">Create Wikis to share ideas and knowledge.</p>
              <p class="card-text">Sharing knowledge and thoughts on different subject, exchanging ideas, inspiring each other and much more to find on this platform!</p>
            </div>
            <div style="margin-top:4rem;">
              <h4 class="card-title">Get Collaborative</h4>
              <p class="card-text">Lets build up knowledge together!</p>
              <p class="card-text">Improve existing knowledge and experience with colloboration. The world is a better place when we share and build upon each others knowledge!</p>
            </div>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

   <% include ./partials/baseScripts.ejs %>
    </body>
</html>
