<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

  	<% include partials/navbar.ejs %>

  	<main class="container">

    <% include ../static/partials/messages.ejs %>

      <h1>Downgrade Account</h1>

      <p>Click the button below to change your membership back to standard.</p>

   <div class="row">
     <div class="col-md-8">
       <form method="POST" action="users/downgrade">
         <input type="submit" value="downgrade" class="btn btn-primary"/>
       </form>
     </div>
   </div>
    </main>

  	</main>

    <% include partials/baseScripts.ejs %>
   </body>
</html>
