<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h4><%= `${user.username}'s profile` %></h4>

      <hr>

      <h2 style="margin-top: 2rem;"> All Wikis</h2>


     <p>Add all the wikis of this user here</p>

     <% if(currentUser && currentUser.role == 0) {%>
       <li>
         <a href="/users/upgradeForm.ejs">Upgrade to Premium</a>
       </li>
    <% } %>
     <% if (currentUser && currentUser.role == 1) { %>
      <li>
        <a href="/users/downgradeForm">Downgrade to Standard</a>
      </li>
    <% } %>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
